<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TronWeb">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.TronWeb">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".functions.wallet.CreateRandomWalletActivity" android:label="Create Random Wallet" />
        <activity android:name=".functions.wallet.ImportPrivateKeyActivity" android:label="Import Private Key" />
        <activity android:name=".functions.wallet.ImportMnemonicActivity" android:label="Import Mnemonic" />
        <activity android:name=".functions.wallet.SwitchWalletActivity" android:label="Switch Wallet" />
        <activity android:name=".functions.wallet.CreateMultiSigActivity" android:label="Create Multi-Sig Address" />
        <activity android:name=".functions.query.GetAccountInfoActivity" android:label="Get Account Info" />
        <activity android:name=".functions.query.GetTRXBalanceActivity" android:label="Get TRX Balance" />
        <activity android:name=".functions.query.GetTRC20BalanceActivity" android:label="Get TRC20 Balance" />
        <activity android:name=".functions.query.GetAccountResourcesActivity" android:label="Get Account Resources" />
        <activity android:name=".functions.query.GetChainParametersActivity" android:label="Get Chain Parameters" />
        <activity android:name=".functions.transfer.TRXTransferActivity" android:label="TRX Transfer" />
        <activity android:name=".functions.transfer.TRC20TransferActivity" android:label="TRC20 Transfer" />
        <activity android:name=".functions.transfer.MultiSigTRXTransferActivity" android:label="Multi-Sig TRX Transfer" />
        <activity android:name=".functions.transfer.MultiSigTRC20TransferActivity" android:label="Multi-Sig TRC20 Transfer" />
        <activity android:name=".functions.transfer.FreezeBalanceActivity" android:label="Freeze Balance" />
        <activity android:name=".functions.transfer.UnfreezeBalanceActivity" android:label="Unfreeze Balance" />
        <activity android:name=".functions.transfer.DelegateResourceActivity" android:label="Delegate Resource" />
        <activity android:name=".functions.message.SignMessageActivity" android:label="Sign Message" />
        <activity android:name=".functions.message.VerifyMessageActivity" android:label="Verify Message" />
    </application>

</manifest>